/* eksempel1 
(C) Copyright 2017: Niels Østergaard
Responsive webdesign */


/* først en del der ikke er påvirket af regler */

/* STYLING OG GRID AREA ATRIBUTTER */
body {
    font-family: sans-serif;
    background-color: #fff;
    margin: 0.5em;
    color: #000;
}

header {
    text-align: center;
    grid-area: header;
    background-color: red;
}

#versionsstyring{
    grid-area: version;
    background-color: deepskyblue;
}

#git{
    grid-area: git;
    background-color: yellowgreen;
}

#github {
    grid-area: hub;
    background-color: orange;
}

/* GRID AREA SAMT RESPONSIVE BILLEDER FOR GUIDEN */
#githubdesktop {
    grid-area: guide;
    background-color: #f90;
    width: 100%;
}

.stepimg {
    max-width: 75%;
}
/* GRID AREA SAMT RESPONSIVE BILLEDER FOR GUIDEN */

/* GRID AREA SAMT RESPONSIVE BILLEDER FOR GUIDES UNDER ANVENDELSE AF VERSIONSSTYRING */
#anvendelseafversionsstyring {
    grid-area: brug;
    background-color: #274e13;
    color: #fff;
}

.stepimgbranch {
    max-width: 100%;
}

.stepimgcommit {
    max-width: 100%;
}

.stepimgpull {
    max-width: 100%;
}


/* GRID AREA SAMT RESPONSIVE BILLEDER FOR GUIDES UNDER ANVENDELSE AF VERSIONSSTYRING */

footer {
    grid-area: footer;
    font-size: 0.8em;
    text-align: center;
    background-color: #000;
    color: #aaa;
}
/* STYLING OG GRID AREA ATRIBUTTER */


/* PADDING AF SECTIONS */
#githubdesktop{
    padding-left: 0.5em;
    padding-bottom: 0.3em;
}

#versionsstyring {
    padding-left: 0.5em;
}

#git {
    padding-left: 0.5em;
}

#github {
    padding-left: 0.5em;
}

#anvendelseafversionsstyring {
    padding-left: 0.5em;
}

/* PADDING AF SECTIONS */


/* RESPONSIV GRID */
/* MOBIL */
@media screen and (max-width: 700px) {
    #pagewrap {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(6, 1f);
        grid-template-areas: 
            "header header header header header header"
            "version version version version version version"
            "git git git git git git"
            "hub hub hub hub hub hub"
            "guide guide guide guide guide guide"
            "brug brug brug brug brug brug"
            "footer footer footer footer footer footer";
    }   
}

/* DESKTOP */
@media screen and (min-width: 700px) {
    #pagewrap {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(6, 1f);
        grid-template-areas:
            "header header header header header header"
            "version version version version version version"
            "git git git hub hub hub"
            "guide guide guide guide guide guide "
            "brug brug brug brug brug brug"
            "footer footer footer footer footer footer";
    }   
}
/* RESPONSIV GRID */

